.icons {
    text-align: center;
    font-size: 2rem;
   
}
a{
   margin-right: 2rem;
   text-align: center;
   color:white;
}
a:hover{
    color:rgb(159, 89, 89);
    border-radius: 10px;
    margin-top: 0;
}
p{
    text-align: center;
    font-weight: bold;
}
footer{
    background-color: rgb(125, 125, 120);
}